{% extends 'main/base.html' %}

{% block title %}
Room
{% endblock %}

{% block content %}
<h2>Room</h2>
<hr>
<div class="row">
    <div class="col-6">
        <h3>Messages:</h3>
        {% for message in room_messages %}
        {% if message.user == request.user %}
        <p class="mb-0 fs-6">@{{ message.user }} <span class="badge text-bg-primary"><a href="{% url 'message-delete' message.pk %}?next={{ request.path }}" class="text-decoration-none text-bg-primary">Delete</a></span></p>
        {% else %}
        <p class="mb-0 fs-6">@{{ message.user }}</p>
        {% endif %}
        <p class="mb-3">{{ message.text }}</p>
        {% endfor %}
        <hr>
        <form method="post">
            {% csrf_token %}
            <input type="text" name="message" class="form-control">
        </form>
    </div>
    <div class="col-6">
        <h3>Members:</h3>
        {% for member in room_members %}
        <p class="mb-1">@{{ member }}</p>
        {% endfor %}
    </div>
</div>
{% endblock %}